* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    flex: 1  1 100%;
}

.main-panel {
    display: flex;
    margin: 0 auto;
    gap: 120px;
}

.new-campaign-form.hidden,
.new-post-form.hidden {
    display: none;
}

/* Forms */
.new-campaign-form {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    z-index: 20;
    gap: 5px;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 12px;
}

.new-post-form {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    z-index: 20;
    gap: 5px;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 12px;
}

/* Buttons */
.add-button {
    color: white;
    background: rgb(20, 56, 173);
    border: 0 transparent;
    padding: 3px;
    border-radius: 12px;
}

.add-button:hover {
    background-color: rgb(18, 145, 18);
    transition: 0.4s;
}

.close-button {
    color: white;
    background: rgb(216, 108, 6);
    border: 0 transparent;
    padding: 3px;
    border-radius: 12px;
}

.close-button:hover {
    background-color: rgb(221, 29, 29);
    transition: 0.4s;
}

.view-button {
    color: white;
    background: rgb(27, 103, 243);
    border: 0 transparent;
    padding: 3px;
    border-radius: 12px;
}

.view-button:hover {
    background-color: rgb(18, 145, 18);
    transition: 0.4s;
}

/* Dynamic Classes */
.hidden {
    display: none;
}

.highlighted {
    background-color: red;
}

.normal {
    background-color: white;
}